<ion-header translucent>
  <ion-toolbar color="purple">
    <ion-title>Detalle del Trámite</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div *ngIf="tramiteDetail">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Trámite:</h2>
          <p>{{tramiteDetail.numeroDeTramite}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Oficina:</h2>
          <p>{{tramiteDetail.oficinaRegistral.descripcion}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Estatus:</h2>
          <p>{{tramiteDetail.statusDeTramite.nombre}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Calificación:</h2>
          <p>{{tramiteDetail.tipoResultadoDeCalificacion.nombre}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!tramiteDetail" style="padding: 10%;">
    <ion-button color="formatos" expand="block">No se encontró el trámite</ion-button>
  </div>

</ion-content>
