<ion-header>
  <ion-toolbar style="text-align: right;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <div>
          <ion-title></ion-title>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <style>
        .gris{
       
          background-color: #F2F2F2;
          font-size: 0.6em;
    
        }
        .blanco{
    
          font-size: 0.65em;
    
        }
      </style>
</ion-header>

<ion-content>
  <ion-card id="map">
  </ion-card>
  <ion-card *ngIf="informacionLoc">
    <ion-card-content>
      <div>
        SU OFICINA REGISTRAL MAS CERCANA ES:
        <br>
        {{titleUbicationDestination}}
        <br>
        {{directionDestination}}
        <br>
        {{distanceDestination}}
        <br>
        {{timeTravelDestination}}
        <br>
        ****** ¿Si desea conocer la mejor ruta para llegar, favor de dar click de nuevo? *****
      </div>
    </ion-card-content>

  </ion-card>
  
   <div>
    <ion-button color="ifr" expand="block" (click)="location()">Encuentra mi Oficina</ion-button>
   </div>
   <div *ngIf="!informacionLoc">
    <!--<lottie-player  speed="1" slot="end" style="height: 250px;" autoplay loop src="assets/animations/locate.json">
    </lottie-player> -->
   </div>
</ion-content>
