  
    #map {
        width: 100%;
        height: 40%;
        opacity: 0;
        transition: opacity 150ms ease-in;
        display: block;
        &.show-map{
            opacity: 1;
        }
    }

    ion-card{
        --background: #ad5389;
        --color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: x-small;
       }