<ion-header>
    <ion-toolbar   style="text-align: right;">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <div>
              <ion-title></ion-title>
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>

  
</ion-header>

<ion-content fullscreen>

 

    <ion-list >

        <ion-item-divider></ion-item-divider>
        <ion-item>
          <ion-label>Fecha Inicial</ion-label>
          <ion-datetime required displayFormat="DD/MM/YYYY" placeholder="dd/MM/yyyy" [(ngModel)]="fechaInicio" cancelText ="Cancelar" doneText="Ok"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Fecha Final</ion-label>
          <ion-datetime required displayFormat="DD/MM/YYYY" placeholder="dd/MM/yyyy" [(ngModel)]="fechaFinal" cancelText ="Cancelar" doneText="Ok"></ion-datetime>
        </ion-item>

        <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin" (click)="crearReporte()">Generar Reporte</ion-button>
          </div>

        <ion-item *ngIf="load" style="width: 100%; text-align: center;">

                <ion-img src="assets/load.gif" style="margin-right: 5%; height: 35px;"></ion-img>

        </ion-item>

      </ion-list>


      <div *ngIf="tramitesOficina">  


    <ion-list>
        <!-- <ion-list-header>List Notes</ion-list-header> -->
             <ion-item>
             </ion-item>
             <ion-item>
              
                <ion-label>Trámites Ingresados</ion-label>
                <ion-badge slot="end">{{ tramitesTotal | number }}</ion-badge>
              </ion-item>
    </ion-list>         
          <ion-item-divider color="secondary">
              <ion-label>
                Por Vía de Ingreso
              </ion-label>
            </ion-item-divider>
            <br>
      </div>

      <canvas #doughnutCanvasNot></canvas>


      <div *ngIf="tramitesOficina">  
        <br><br>
          <ion-item-divider color="secondary">
              <ion-label>
                Por Oficina Registral
              </ion-label>
            </ion-item-divider>
      </div>
      <br>
  

      <ion-grid>
          <ion-row>
              <ion-col size="12">
                  <canvas #doughnutCanvas width="100%" height="100%"></canvas>

              </ion-col>

            </ion-row>
      </ion-grid>
      
      
      
      <div *ngIf="tramitesOficina">

        <br><br>
            <ion-item-divider color="secondary">
                <ion-label>
                  Trámites por Oficina Registral
                </ion-label>
              </ion-item-divider>
            <ion-list>
                    <ion-item *ngFor="let noticia of tramitesOficina; let i = index"  [class]="i%2 != 0 ? 'oscuro' : 'auxiliar'">
                      <ion-label> {{noticia.oficina}} </ion-label>
                      <ion-note slot="end" color="primary"> {{ noticia.cantidad | number }} </ion-note>
                    </ion-item>
                </ion-list>

 

      </div> 

      <br>

     



      <div *ngIf="tramitesOficina">
        <br><br>
            <ion-item-divider color="secondary">
              <ion-label>
                Top de Ingresos por Oficina
              </ion-label>
            </ion-item-divider> 

            <ion-list>
                <ion-item *ngFor="let noticia of tramitesOficinaDesc; let i = index"  [class]="i%2 != 0 ? 'oscuro' : 'auxiliar'">
                  <ion-label> {{noticia.oficina}} </ion-label>
                  <ion-note slot="end" color="primary"> {{ noticia.cantidad | number }} </ion-note>
                </ion-item>
            </ion-list>
          
      </div>

      <div *ngIf="tramitesOficina">    
        <br><br>         
            <ion-item-divider color="secondary">
                <ion-label>
                  Top de Ingresos por Notarios
                </ion-label>
              </ion-item-divider>
            </div>

            <ion-list>
                <ion-item *ngFor="let noticia of tramitesNotarios; let i = index"  [class]="i%2 != 0 ? 'oscuro' : 'auxiliar'">
                  <ion-label> {{noticia.oficina}} </ion-label>
                  <ion-note slot="end" color="primary"> {{ noticia.cantidad | number }} </ion-note>
                </ion-item>
            </ion-list>
            <br><br>

          
          
  </ion-content>

