
  <ion-header>
    <ion-toolbar  color="purple" style="text-align: right;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <div>
            <ion-title></ion-title>
          </div>
        </ion-col>
        <ion-col size="4">
          <div>
            <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>



  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

      <ion-slide  >
        <div class="slide">
          <img src="assets/1.png" />
          <div class="ion-padding">
            <a href="http://nt.ifrem.gob.mx/portal">
              <ion-button expand="block"  class="ion-no-margin" > Acceder</ion-button>
            </a>
          </div>
        </div>
      </ion-slide>

      <ion-slide  >
        <div class="slide">
          <img src="assets/2.png" />
          <div class="ion-padding">
            <a href="#">
              <ion-button expand="block"  class="ion-no-margin" > Acceder</ion-button>
            </a>
          </div>
        </div>
      </ion-slide>

      <ion-slide  >
        <div class="slide">
          <img src="assets/3.png" />
          <div class="ion-padding">
            <a href="http://portal.ifrem.gob.mx/IFR/">
              <ion-button expand="block"  class="ion-no-margin" > Acceder</ion-button>
            </a>
          </div>
        </div>
      </ion-slide>

      <ion-slide  >
        <div class="slide">
          <img src="assets/4.png" />
          <div class="ion-padding">
            <a href="https://certificado.ifrem.gob.mx/certificadosIfrem/">
              <ion-button expand="block"  class="ion-no-margin" > Acceder</ion-button>
            </a>
          </div>
        </div>
      </ion-slide>

      <br>



    </ion-slides>
  </ion-content>
