<ion-header no-border>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-button color="ifr" (click)="dismissModal()"> <ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/cal.png" />
  </ion-card>

</ion-content>