
  <ion-header>
    <ion-toolbar  color="purple" style="text-align: right;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <div>
            <ion-title></ion-title>
          </div>
        </ion-col>
        <ion-col size="4">
          <div>
            <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>




  <ion-content fullscreen class="ion-padding" scroll-y="true">
    <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">

      <ion-slide  *ngFor="let oficina of oficinas">
        <div class="slide">
          <img src="assets/lara.gif" />
          <h2>{{oficina.descripcion}}</h2>
          <p><span style="color: #DF0352;">TITULAR:</span> <br>  <b>{{oficina.registrador}}</b> <br><br> <span style="color: #DF0352;">Dirección:</span> <br>{{oficina.direccion}}</p>
        </div>
      </ion-slide>

    </ion-slides>
  </ion-content>
