<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <div>
          <ion-title></ion-title>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        Resumen 2020
      </ion-label>
    </ion-item-divider>
  </ion-list>
<br>
  <div *ngIf="automatizados">
    <ion-list>
      <!-- <ion-list-header>List Notes</ion-list-header> -->
      <ion-item  style="font-size: 0.6em;">
        <ion-col size="8">
          SERVICIO
        </ion-col>
        <ion-col size="4">
          NO. DE TRÁMITES
        </ion-col>
      </ion-item>
      <ion-item   *ngFor="let servicio of automatizados; let i = index"  [class]="i%2 != 0 ? 'oscuro' : 'auxiliar'">
        <ion-col size="8">
          {{ servicio.servicio }}
        </ion-col>
        <ion-col size="4">
          {{ servicio.cantidad | number }}
        </ion-col>
      </ion-item>

    </ion-list>
  </div>

  <br>
  <ion-item-divider color="secondary">
    <ion-label>
      Búsqueda por Servicio/Periodo
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Servicio</ion-label>
    <!--<ion-select >
      <ion-select-option  *ngFor="let servicio of servicios;" value="{{ servicio.cantidad }}">{{ servicio.servicio}}</ion-select-option>
    </ion-select>-->
    <ion-select interface="popover" [(ngModel)]="tipo">
      <ion-select-option *ngFor="let servicio of servicios;" value="{{ servicio.cantidad }}">{{ servicio.servicio}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Fecha Inicial</ion-label>
    <ion-datetime required displayFormat="DD/MM/YYYY" placeholder="dd/MM/yyyy" [(ngModel)]="fechaInicio" cancelText ="Cancelar" doneText="Ok"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Fecha Final</ion-label>
    <ion-datetime required displayFormat="DD/MM/YYYY" placeholder="dd/MM/yyyy" [(ngModel)]="fechaFinal" cancelText ="Cancelar" doneText="Ok"></ion-datetime>
  </ion-item>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="crearReporte()">Generar Reporte</ion-button>
  </div>

  <div *ngIf="servicioPeriodo">

    <ion-list>
      <ion-item *ngIf="load" style="width: 100%; text-align: center;">
        <ion-col size="12">
          <ion-img src="assets/load.gif" style="margin-right: 5%; height: 35px;"></ion-img>
        </ion-col>
      </ion-item>
      <!-- <ion-list-header>List Notes</ion-list-header> -->
      <ion-item  style="font-size: 0.6em;">
        <ion-col size="8">
          SERVICIO
        </ion-col>
        <ion-col size="4">
          NO. DE TRÁMITES
        </ion-col>
      </ion-item>
      <ion-item  >
        <ion-col size="8">
          {{ servicioPeriodo.servicio }}
        </ion-col>
        <ion-col size="4">
          {{ servicioPeriodo.cantidad | number }}
        </ion-col>
      </ion-item>

    </ion-list>
    <br><br><br>
  </div>

</ion-content>
