<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card style="  box-shadow: none;">
        <ion-card-header>
            <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 95px;"></ion-img>
            <ion-card-subtitle class="ion-text-center"><b>IFREM MOBILE | DASHBOARD</b> </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <br>
            <ion-card-subtitle class="ion-text-center">CONÓCENOS</ion-card-subtitle>
            <br>
            <ion-item>
                <ion-avatar slot="start">
                    <ion-icon name="briefcase-outline"></ion-icon>
                </ion-avatar>
                <ion-label>
                    <h5>Acerca del IFREM</h5>
                    <ion-button shape="small" expand="block"  style="margin-top: 5%;"  (click)="abrirIfrem()">Ver más</ion-button>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-avatar slot="start">
                    <ion-icon name="trail-sign-outline"></ion-icon>
                </ion-avatar>
                <ion-label>
                    <h5>Misión y Visión</h5>
                    <ion-button expand="block" style="margin-top: 5%;" (click)="abrirMision()">Ver más</ion-button>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-avatar slot="start">
                    <ion-icon name="ribbon-outline"></ion-icon>
                </ion-avatar>
                <ion-label>
                    <h5>Política de Calidad</h5>
                    <ion-button shape="small" expand="block"  style="margin-top: 5%;"  (click)="abrirCalidad()">Ver más</ion-button>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-avatar slot="start">
                    <ion-icon name="key-outline"></ion-icon>
                </ion-avatar>
                <ion-label>
                    <h5>Política de SI</h5>
                    <ion-button shape="small" expand="block"  style="margin-top: 5%;"  (click)="abrirSeguridad()">Ver más</ion-button>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label  style="margin-top: 7%;" >
                    <ion-card-subtitle class="ion-text-center">Avisos de Privacidad</ion-card-subtitle>
                    <ion-button color="ifr"  style="margin-top: 5%;" shape="small" expand="block" href="http://ifrem.edomex.gob.mx/avisos_privacidad">Conocer</ion-button>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>



    <!--<ion-fab vertical="bottom" horizontal="right" slot="fixed">
        <ion-fab-button color="ifr">
            <ion-icon name="code-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button>
                <a href="https://www.facebook.com/IFREM.GEM">
                    <ion-icon name="logo-facebook" color="danger"></ion-icon>
                </a>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
            <ion-fab-button>
                <a href="https://twitter.com/IFREM_GEM">
                    <ion-icon name="logo-twitter" color="danger"></ion-icon>
                </a>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>-->

    <ion-card-content>
        <div *ngIf="estado">
            <br> Esta aplicación le permitirá visualizar en tiempo real un dashboard de la información del Instituto.
            <br>
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <ion-item>
                    <br>
                    <ion-label position="stacked">Usuario
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required type="text" [(ngModel)]="usuario"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Contraseña
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required type="password" [(ngModel)]="passwd"></ion-input>
                </ion-item>

            </ion-list>

            <div class="ion-padding">
                <ion-button expand="block" type="submit" class="ion-no-margin" (click)="loginUser()">Iniciar Sesión</ion-button>
            </div>
        </div>
        <!-- <a [routerLink]="['/dashboard']">Go to dashboard</a> -->

        <ion-footer>
            <ion-toolbar>
                <ion-row>
                    <ion-col size="5">
                        <a href="http://ifrem.edomex.gob.mx/" style="text-align: center; "><img style="margin-left:15%; margin-top: 10%;"  src="assets/ifrem.png" width="50%"></a>
                    </ion-col>
                    <ion-col size="3">
                        <a href="https://www.facebook.com/IFREM.GEM/" style="text-align: center;"><img style="margin-left:18%; margin: 10%;"  src="assets/face.png" width="40%"></a>
                    </ion-col>
                    <ion-col size="4">
                        <a href="https://twitter.com/IFREM_GEM" style="text-align: center;  "><img style="margin-left:14%; margin-top: 8%;" src="assets/twi.png" width="54%"></a>
                    </ion-col>
                </ion-row>
            </ion-toolbar>
        </ion-footer>

    </ion-card-content>

</ion-content>
