<ion-header>
  <ion-toolbar  style="text-align: right;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <div>
          <ion-title></ion-title>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <style>
.table:nth-child(2n+1) {
    background-color: whatever color !important;
  }

  .red{
      color: red;
    }
    .green{
      color: green;
    }
    .primero{
   
      --ion-background-color: #F2F2F2;
      font-size: 0.5em;

    }
    .auxiliar{

      font-size: 0.5em;

    }
  </style>


</ion-header>

<ion-content>
    
    <ion-list>
        <ion-item-divider>
          <ion-label>
            Resumen 2020
          </ion-label>
        </ion-item-divider>
      </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col size="11">
                <canvas #lineCanvas width="100%" height="100%"></canvas>

            </ion-col>
          <ion-col size="1"></ion-col>

          </ion-row>
    </ion-grid>
    
  <div *ngIf="recaudacion">  
  <ion-list>
        <!-- <ion-list-header>List Notes</ion-list-header> -->
             <ion-item  style="font-size: 0.5em;">
                <ion-col size="1">
                    MES
                </ion-col>
                <ion-col size="3">
                    PROYECCIÓN
                  </ion-col>
                  <ion-col size="3">
                    RECAUDACIÓN REAL
                    </ion-col>
                    <ion-col size="4">
                        RESULTADO
                    </ion-col>
                    <ion-col size="1">
                        %
                    </ion-col>
             </ion-item>
             <ion-item   *ngFor="let ingreso of recaudacion; let i = index"  [class]="i%2 != 0 ? 'primero' : 'auxiliar'">
                <ion-col size="1">
                    {{ ingreso.periodo | date: "MM/yy" }}
                </ion-col>
                <ion-col size="3">
                    {{ ingreso.proyeccion | currency:'MXN':true:'1.0-0' }}
                  </ion-col>
                  <ion-col size="3">
                      {{ ingreso.recaudado | currency:'MXN':true:'1.0-0' }}
                  </ion-col>
                    <ion-col size="4">
        
                        <span  class="{{ ingreso.recaudado - ingreso.proyeccion <0 ? 'red' : 'green' }}">
                            {{ ingreso.recaudado - ingreso.proyeccion | currency:'MXN':true:'1.0-0' }} <ion-icon name="{{ ingreso.recaudado - ingreso.proyeccion <0 ? 'arrow-down-outline' : 'arrow-up-outline' }}"></ion-icon>
                            
                            </span>
                        
                      </ion-col>
                  
                      <ion-col size="1">
                      <span  class="{{ ingreso.recaudado - ingreso.proyeccion <0 ? 'red' : 'green' }}">
                          <ion-icon name="{{ ingreso.recaudado - ingreso.proyeccion <0 ? 'arrow-down-outline' : 'arrow-up-outline' }}"></ion-icon>
                          {{ (((ingreso.recaudado*100)/ ingreso.proyeccion) -100)/100 | percent:'2.1-2' }}
                          </span>
                    </ion-col>
              </ion-item>
              
    </ion-list>  
  </div>  

<br>

<ion-list>
  <ion-item-divider>
    <ion-label>
      Transacciones por Bancos
    </ion-label>
  </ion-item-divider>
</ion-list>

<ion-grid>
  <ion-row>
      <ion-col size="11">
          <canvas #lineCanvasBancos width="100%" height="100%"></canvas>

      </ion-col>
    <ion-col size="1"></ion-col>

    </ion-row>
</ion-grid>
<br>


    <br>

    <ion-list>
      <ion-item-divider>
        <ion-label>
          Recaudación por Bancos
        </ion-label>
      </ion-item-divider>
    </ion-list>
    
    <ion-grid>
      <ion-row>
          <ion-col size="11">
              <canvas #lineCanvasBancosReca width="100%" height="100%"></canvas>
    
          </ion-col>
        <ion-col size="1"></ion-col>
    
        </ion-row>
    </ion-grid>
    <br>
    <div *ngIf="recaudacionBancos">  
      <ion-list>
            <!-- <ion-list-header>List Notes</ion-list-header> -->
                 <ion-item  style="font-size: 0.6em;">
                    <ion-col size="4">
                        BANCO
                    </ion-col>
                    <ion-col size="4">
                        TRANSACCIONES
                      </ion-col>
                      <ion-col size="4">
                        RECAUDACIÓN 
                        </ion-col>
                 </ion-item>
                 <ion-item   *ngFor="let ingreso of recaudacionBancos; let i = index"  [class]="i%2 != 0 ? 'primero' : 'auxiliar'">
                    <ion-col size="4">
                        {{ ingreso.centroPago }}
                    </ion-col>
                    <ion-col size="4">
                        {{ ingreso.cantidad | number }}
                      </ion-col>
                      <ion-col size="4">
                          {{ ingreso.recaudado | currency:'MXN':true:'1.0-0' }}
                      </ion-col>
                  </ion-item>
                  
        </ion-list>  
      </div>   
        <br>


  <div *ngIf="recaudacionCantidad"> 
    
      <ion-header translucent>
          <ion-toolbar>
            <ion-title>Top por Demanda</ion-title>
          </ion-toolbar>
        </ion-header>

      <ion-list id="demanda" class="table">
            <!-- <ion-list-header>List Notes</ion-list-header> -->
                 <ion-item  style="font-size: 0.6em;">
                    <ion-col size="3">
                        ACTO
                    </ion-col>
                    <ion-col size="3">
                        SERVICIO
                      </ion-col>
                      <ion-col size="3">
                        CANTIDAD
                        </ion-col>
                        <ion-col size="3">
                            RECAUDACIÓN (MXN)
                        </ion-col>
                 </ion-item>
                 <ion-item  *ngFor="let ingreso of recaudacionCantidad ; let i = index"  [class]="i%2 != 0 ? 'primero' : 'auxiliar'" >
                    <ion-col size="3">
                        {{ ingreso.nombreActo }}
                    </ion-col>
                    <ion-col size="3">
                        {{ ingreso.nombreServicio }}
                    </ion-col>
                    <ion-col size="3">
                        {{ ingreso.cantidad | number}}
                    </ion-col>
                    <ion-col size="3">
                        {{ ingreso.recaudado | currency:'MXN':true:'1.0-0' }}
                    </ion-col>
    
                  </ion-item>
        </ion-list> 
  </div>

 
  <div *ngIf="recaudacionDinero"> 
  <ion-header translucent>
      <ion-toolbar>
        <ion-title>Top Recaudación</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
        <!-- <ion-list-header>List Notes</ion-list-header> -->
             <ion-item  style="font-size: 0.6em;">
                <ion-col size="3">
                    ACTO
                </ion-col>
                <ion-col size="3">
                    SERVICIO
                  </ion-col>
                  <ion-col size="3">
                      CANTIDAD
                    </ion-col>
                    <ion-col size="3">
                        RECAUDACIÓN
                    </ion-col>
             </ion-item>
             <ion-item  *ngFor="let ingreso of recaudacionDinero; let i = index"  [class]="i%2 != 0 ? 'primero' : 'auxiliar'">
                <ion-col size="3">
                    {{ ingreso.nombreActo }}
                </ion-col>
                <ion-col size="3">
                    {{ ingreso.nombreServicio }}
                </ion-col>
                <ion-col size="3">
                    {{ ingreso.cantidad | number}}
                </ion-col>
                <ion-col size="3">
                    {{ ingreso.recaudado | currency:'MXN':true:'1.0-0' }}
                </ion-col>

              </ion-item>
    </ion-list> 
</div>

<div *ngIf="recaudacionDineroIns"> 
    <ion-header translucent>
        <ion-toolbar>
          <ion-title>Top Inscripciones</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-list>
          <!-- <ion-list-header>List Notes</ion-list-header> -->
               <ion-item  style="font-size: 0.6em;">
                  <ion-col size="3">
                      ACTO
                  </ion-col>
                  <ion-col size="3">
                      SERVICIO
                    </ion-col>
                    <ion-col size="3">
                        CANTIDAD 
                      </ion-col>
                      <ion-col size="3">
                          RECAUDACIÓN
                      </ion-col>
               </ion-item>
               <ion-item  *ngFor="let ingreso of recaudacionDineroIns; let i = index"  [class]="i%2 != 0 ? 'primero' : 'auxiliar'">
                  <ion-col size="3">
                      {{ ingreso.nombreActo }}
                  </ion-col>
                  <ion-col size="3">
                      {{ ingreso.nombreServicio }}
                  </ion-col>
                  <ion-col size="3">
                      {{ ingreso.cantidad | number}}
                  </ion-col>
                  <ion-col size="3">
                      {{ ingreso.recaudado | currency:'MXN':true:'1.0-0' }}
                  </ion-col>
  
                </ion-item>
      </ion-list> 
  </div>

  <div *ngIf="recaudacionDineroCert"> 
      <ion-header translucent>
          <ion-toolbar>
            <ion-title>Top Certificaciones</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-list>
            <!-- <ion-list-header>List Notes</ion-list-header> -->
                 <ion-item  style="font-size: 0.6em;">
                    <ion-col size="3">
                        ACTO
                    </ion-col>
                    <ion-col size="3">
                        SERVICIO
                      </ion-col>
                      <ion-col size="3">
                          CANTIDAD
                        </ion-col>
                        <ion-col size="3">
                            RECAUDACIÓN
                        </ion-col>
                 </ion-item>
                 <ion-item  *ngFor="let ingreso of recaudacionDineroCert; let i = index"  [class]="i%2 != 0 ? 'primero' : 'auxiliar'">
                    <ion-col size="3">
                        {{ ingreso.nombreActo }}
                    </ion-col>
                    <ion-col size="3">
                        {{ ingreso.nombreServicio }}
                    </ion-col>
                    <ion-col size="3">
                        {{ ingreso.cantidad | number}}
                    </ion-col>
                    <ion-col size="3">
                        {{ ingreso.recaudado | currency:'MXN':true:'1.0-0' }}
                    </ion-col>
    
                  </ion-item>
        </ion-list> 
    </div>
  
</ion-content>

