<ion-header>
  <ion-toolbar color="purple" style="text-align: right;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <div>
          <ion-title></ion-title>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="true">
  <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">

    <ion-slide>
      <div class="slide">
        <lottie-player slot="end" autoplay loop src="assets/slides/analytics.json"></lottie-player>
        <h2>Bienvenido/a</h2>
        <p><b>Dashboard IFREM</b> es una aplicación que te permitirá visualizar en tiempo real un resumen de la información del Instituto.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div style="height: 300px; width: 300px; margin: auto;">
      <lottie-player slot="end" autoplay loop src="assets/slides/charts.json"></lottie-player>
    </div>
      <h2>Trámites</h2>
      <p>Gráfica de trámites ingresados, clasificados por vía de ingreso, oficina registral y notario.</p>
    </ion-slide>

    <ion-slide>
      <div style="height: 300px; width: 300px; margin: auto;">
      <lottie-player slot="end" autoplay loop src="assets/slides/bar-graph.json"></lottie-player>
      </div>
      <h2>Gráfica Anual</h2>
      <p>Compara los datos del año actual con respecto al anterior.</p>
    </ion-slide>

    <ion-slide>
      <div style="height: 300px; width: 300px; margin: auto;">
      <lottie-player slot="end" autoplay loop src="assets/slides/chart.json"></lottie-player>
      </div>
      <h2>Gráfica Mensual</h2>
      <p> Gráficas estableciendo un rango de fechas.</p>
    </ion-slide>

    <ion-slide>
      <div style="height: 300px; width: 300px; margin: auto;">
        <lottie-player slot="end" autoplay loop src="assets/slides/economics.json"></lottie-player>
        </div>
      <h2>Finanzas</h2>
      <p>Conoce los datos de proyección financiera y recaudación real.</p>
    </ion-slide>



  </ion-slides>
</ion-content>
