
<style>
    .hide-card {
        -webkit-box-shadow: none!important;
        background-image: url("https://certificado.ifrem.gob.mx/certificadosIfrem/images/mural.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .custom-avatar {
        height: 15vw;
        width: 12vw;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;

    }


</style>




<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--midle">
        <div style="width: 100%;">
            <img src="assets/ifem-nega.png" >
        </div>
        <div style="width: 100%; margin-top: 15%;">
            <img src="assets/LOGO.png" width="50%">
        </div>
          
      </div>
    </div>
</div>


<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" >
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>

            <ion-card text-center class="hide-card" >
                <!--<img src="https://certificado.ifrem.gob.mx/certificadosIfrem/images/mural.jpg" class="custom-avatar" />-->
                <hr>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br><br><br><br>
            </ion-card>

          <div  *ngIf="logginIn">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
              </ion-menu-toggle>
          </div>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesFree">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>


          <div *ngIf="status">
                <div *ngIf="logginIn==false">
                  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesLogin">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                      <ion-icon slot="start" [name]="p.icon"></ion-icon>
                      <ion-label>
                        {{p.title}}
                      </ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                </div>


                <ion-item *ngIf="logginIn" (click)="logoutUser()">
                  <ion-icon slot="start" name="log-out"></ion-icon>
                  <ion-label>
                    Logout
                  </ion-label>
                </ion-item>
          </div>

        </ion-list>
      </ion-content>
        <ion-footer>
            <ion-toolbar>
                <ion-row>
                    <ion-col size="5">
                        <a href="http://ifrem.edomex.gob.mx/" style="text-align: center; "><img style="margin-left:15%; margin-top: 10%;"  src="assets/ifrem.png" width="50%"></a>
                    </ion-col>
                    <ion-col size="3">
                        <a href="https://www.facebook.com/IFREM.GEM/" style="text-align: center;"><img style="margin-left:18%; margin: 10%;"  src="assets/face.png" width="40%"></a>
                    </ion-col>
                    <ion-col size="4">
                        <a href="https://twitter.com/IFREM_GEM" style="text-align: center;  "><img style="margin-left:14%; margin-top: 8%;" src="assets/twi.png" width="54%"></a>
                    </ion-col>
                </ion-row>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet  id="main-content"></ion-router-outlet>
  </ion-split-pane>




</ion-app>


