<ion-header>
    <ion-toolbar color="purple" style="text-align: right;">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row class="ion-align-items-center">
            <ion-col size="8">
                <div>
                    <ion-title></ion-title>
                </div>
            </ion-col>
            <ion-col size="4">
                <div>
                    <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card-content>
        <br> En este apartado podrá enviarnos su queja y/o sugerencia sobre la aplicación.
        <br>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">

            <ion-item>
                <br>
                <ion-label position="stacked">Correo electrónico
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="email" [(ngModel)]="usuario" placeholder="ejemplo@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"> Descripción
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-textarea required type="text" minlength="5" maxlength="512" [(ngModel)]="texto"></ion-textarea>
            </ion-item>

        </ion-list>

        <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin" (click)="enviar()">Enviar</ion-button>
        </div>
    </ion-card-content>
</ion-content>