
  <ion-header>
    <ion-toolbar  style="text-align: right;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <div>
            <ion-title></ion-title>
          </div>
        </ion-col>
        <ion-col size="4">
          <div>
            <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>




<ion-content>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>CONTACTO</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-card>
      <img src="assets/tool.gif" />
      <ion-card-header>
        <ion-card-subtitle>IFREM</ion-card-subtitle>
        <ion-card-title>Toluca, Edomex</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Calle Dr Nicolás San Juan, Ex Hacienda, La Magdalena, 50010 Toluca de Lerdo, Méx.
        <br> <span style="color: #DF0352;" > 722 236 2909 | ifrem@edomex.gob.mx </span>
        <br><br>
      </ion-card-content>
    </ion-card>
    <br><br><br>
  </ion-content>
</ion-content>
