<ion-header>
  <ion-toolbar color="" style="text-align: right;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <div>
          <ion-title></ion-title>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <style>
    .table:nth-child(2n+1) {
        background-color: whatever color !important;
      }
    
      .red{
          color: red;
        }
        .green{
          color: green;
        }
        .primero{
       
          --ion-background-color: #F2F2F2;
          font-size: 0.75em;
    
        }
        .auxiliar{
    
          font-size: 0.75em;
    
        }
      </style>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              CLG generados
            </ion-label>
          </ion-item-divider>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <canvas #lineCanvas width="400" height="400"></canvas>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item style="font-size: 0.8rem;">
            <ion-col size="3">
              <span style="font-weight: bold;">Mes</span>
            </ion-col>
            <ion-col size="3">
              <span style="font-weight: bold;">{{date.getFullYear()-1}}</span>
            </ion-col>
            <ion-col size="3">
              <span style="font-weight: bold;">{{date.getFullYear()}}</span>
            </ion-col>
            <ion-col size="3">
              <span style="font-weight: bold;">Diferencia</span>
            </ion-col>
          </ion-item>
          <ion-item *ngFor="let mes of meses; let i = index"  [class]="i%2 != 0 ? 'primero' : 'auxiliar'" >
            <ion-col size="3">
              {{ mes.mes }}
            </ion-col>
            <ion-col size="3">
              {{ lineChart.data.datasets[1].data[mes.id] }}
            </ion-col>
            <ion-col size="3">
              {{ lineChart.data.datasets[0].data[mes.id] }}
            </ion-col>
            <ion-col size="3">
              <div *ngIf="lineChart.data.datasets[0].data[mes.id] >= 0 && lineChart.data.datasets[1].data[mes.id] >= 0">
                <ion-text
                  color="{{ lineChart.data.datasets[0].data[mes.id] - lineChart.data.datasets[1].data[mes.id] < 0 ? 'danger' : 'success' }}">
                  <ion-icon
                    name="{{ lineChart.data.datasets[0].data[mes.id] - lineChart.data.datasets[1].data[mes.id] < 0 ? 'chevron-down-outline' : 'chevron-up-outline' }}">
                  </ion-icon>
                  {{ lineChart.data.datasets[0].data[mes.id] - lineChart.data.datasets[1].data[mes.id] }}
                </ion-text>
              </div>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Por resultado de calificación
            </ion-label>
          </ion-item-divider>
        </ion-list>
      </ion-col>
    </ion-row>

    

    <ion-row>
      <ion-col>
        <div>
          <canvas #barCanvas width="600" height="600"></canvas>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-segment value="Aceptados" color="tertiary" scrollable="true" mode="ios" [(ngModel)]="segmentModel"
          (ionChange)="segmentChanged($event)">

          <ion-segment-button value="Aceptados">
            <ion-label>Aceptados</ion-label>
          </ion-segment-button>

          <ion-segment-button value="Suspendidos">
            <ion-label>Suspendidos</ion-label>
          </ion-segment-button>

          <ion-segment-button value="Rechazados">
            <ion-label>Rechazados</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item style="font-size: 0.8rem;">
            <ion-col size="3">
              <span style="font-weight: bold;">Mes</span>
            </ion-col>
            <ion-col size="3">
              <span style="font-weight: bold;">{{date.getFullYear()-1}}</span>
            </ion-col>
            <ion-col size="3">
              <span style="font-weight: bold;">{{date.getFullYear()}}</span>
            </ion-col>
            <ion-col size="3">
              <span style="font-weight: bold;">Diferencia</span>
            </ion-col>
          </ion-item>
          <ion-item *ngFor="let mes of meses; let i = index"  [class]="i%2 != 0 ? 'primero' : 'auxiliar'" style="font-size: 0.75rem;">
            <ion-col size="3">
              {{ mes.mes }}
            </ion-col>
            <ion-col size="3">
              {{ barChart.data.datasets[pos2019].data[mes.id] }}
            </ion-col>
            <ion-col size="3">
              {{ barChart.data.datasets[pos2020].data[mes.id] }}
            </ion-col>
            <ion-col size="3">
              <div
                *ngIf="barChart.data.datasets[pos2020].data[mes.id] >= 0 && barChart.data.datasets[pos2019].data[mes.id] >= 0">
                <ion-text
                  color="{{ barChart.data.datasets[pos2020].data[mes.id] - barChart.data.datasets[pos2019].data[mes.id] < 0 ? 'danger' : 'success' }}">
                  <ion-icon
                    name="{{ barChart.data.datasets[pos2020].data[mes.id] - barChart.data.datasets[pos2019].data[mes.id] < 0 ? 'chevron-down-outline' : 'chevron-up-outline' }}">
                  </ion-icon>
                  {{ barChart.data.datasets[pos2020].data[mes.id] - barChart.data.datasets[pos2019].data[mes.id] }}
                </ion-text>
              </div>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Trámites Automatizados
            </ion-label>
          </ion-item-divider>
        </ion-list>
      </ion-col>
    </ion-row>

    

    <ion-row>
      <ion-col>
        <div>
          <canvas #autoCanvas width="600" height="600"></canvas>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item style="font-size: 0.8rem;">
            <ion-col size="3">
              <span style="font-weight: bold;">Mes</span>
            </ion-col>
            <ion-col size="3">
              <span style="font-weight: bold;">{{date.getFullYear()-1}}</span>
            </ion-col>
            <ion-col size="3">
              <span style="font-weight: bold;">{{date.getFullYear()}}</span>
            </ion-col>
            <ion-col size="3">
              <span style="font-weight: bold;">Diferencia</span>
            </ion-col>
          </ion-item>
          <ion-item *ngFor="let mes of meses; let i = index"  [class]="i%2 != 0 ? 'primero' : 'auxiliar'" style="font-size: 0.75rem;">
            <ion-col size="3">
              {{ mes.mes }}
            </ion-col>
            <ion-col size="3">
              {{ lineAuto.data.datasets[1].data[mes.id] }}
            </ion-col>
            <ion-col size="3">
              {{ lineAuto.data.datasets[0].data[mes.id] }}
            </ion-col>
            <ion-col size="3">
              <div *ngIf="lineAuto.data.datasets[0].data[mes.id] >= 0 && lineAuto.data.datasets[1].data[mes.id] >= 0">
                <ion-text
                  color="{{ lineAuto.data.datasets[0].data[mes.id] - lineAuto.data.datasets[1].data[mes.id] < 0 ? 'danger' : 'success' }}">
                  <ion-icon
                    name="{{ lineAuto.data.datasets[0].data[mes.id] - lineAuto.data.datasets[1].data[mes.id] < 0 ? 'chevron-down-outline' : 'chevron-up-outline' }}">
                  </ion-icon>
                  {{ lineAuto.data.datasets[0].data[mes.id] - lineAuto.data.datasets[1].data[mes.id] }}
                </ion-text>
              </div>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>