<ion-header>
  <ion-toolbar  color="purple" style="text-align: right;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <div>
          <ion-title></ion-title>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding" scroll-y="true">


  <!--  <ion-slides  [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide *ngFor="let noticia of noticias">
        <div class="slide">
          <img src="{{ noticia.url }}"/>
          <ion-button  expand="full" color="formatos"> {{ noticia.titulo }} </ion-button>
        </div>
      </ion-slide>
    </ion-slides>-->


  <ion-list>
    <ion-list-header>
      Noticias Recientes
    </ion-list-header>

    <ion-item  *ngFor="let noticia of noticias">
      <ion-avatar slot="start">
        <img src="/assets/alarm.png">
      </ion-avatar>
      <ion-label>
        <img src="{{ noticia.url }}"/>
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>
