<ion-header>
    <ion-header>
        <ion-toolbar  color="purple" style="text-align: right;">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <div>
                <ion-title></ion-title>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
              </div>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      
</ion-header>


  <ion-content fullscreen>

    <ion-list>
      <ion-item-divider>
        <ion-label>
          Resumen 2020.
        </ion-label>
      </ion-item-divider>
    </ion-list>





    <ion-list>
     <!-- <ion-list-header>List Notes</ion-list-header> -->
          <ion-item>
            <ion-label>No. de FRES</ion-label>
            <ion-note slot="end" color="primary">{{ totalFres | number }}</ion-note>
          </ion-item>

          <ion-item class="oscuro">
            <ion-label>No. de Imágenes</ion-label>
            <ion-note slot="end"  color="secondary">{{ totalImagenes | number }}</ion-note>
          </ion-item>
      
          <ion-item>
            <ion-label>Trámites Ingresados </ion-label>
            <ion-note slot="end" color="primary"> {{ totalTramite | number }} </ion-note>
          </ion-item>
      
          <ion-item  class="oscuro">
            <ion-label>Trámites Automatizados</ion-label>
            <ion-note slot="end" color="secondary"> {{ totalAuto | number }}  </ion-note>
          </ion-item>
      
          <ion-item>
            <ion-label>Trámites en Línea</ion-label>
            <ion-note slot="end" color="primary">{{ totalLinea | number }} </ion-note>
          </ion-item>

          <ion-item  class="oscuro">
            <ion-label>Trámites Ordinarios</ion-label>
            <ion-note slot="end" color="secondary">{{ totalOrdinario | number }} </ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Trámites CLG</ion-label>
            <ion-note slot="end" color="primary">{{ totalClg | number }} </ion-note>
          </ion-item>

      </ion-list>
      <br><br>
      <ion-list>
        <ion-item-divider>
          <ion-label>
            Trámites por Calificación Registral.
          </ion-label>
        </ion-item-divider>
      </ion-list>
  
      <ion-list>
        <!-- <ion-list-header>List Notes</ion-list-header> -->
             <ion-item>
               <ion-label>Trámites Firmados</ion-label>
               <ion-note slot="end"  color="primary">{{ totalFirma | number }}</ion-note>
             </ion-item>
         
             <ion-item class="oscuro">
               <ion-label>Trámites Aceptados </ion-label>
               <ion-note slot="end" color="secondary"> {{ totalAcptado | number }} </ion-note>
             </ion-item>
         
             <ion-item>
               <ion-label>Trámites Suspendidos</ion-label>
               <ion-note slot="end" color="primary"> {{ totalSusp | number }}  </ion-note>
             </ion-item>

             <ion-item class="oscuro">
              <ion-label>Trámites Rechazados</ion-label>
              <ion-note slot="end" color="secondary"> {{ totalRechazo | number }}  </ion-note>
            </ion-item>
      </ion-list>       



</ion-content>

