/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root { 
    --ion-color-ifr: linear-gradient(to right, #fb5f95, #E0004D);
    --ion-color-ifr-rgb: 173,83,137; 
    --ion-color-ifr-contrast: #ffffff; 
    --ion-color-ifr-contrast-rgb: 255,255,255; 
    --ion-color-ifr-shade: #E0004d; 
    --ion-color-ifr-tint: #fb5f95; 
}

.ion-color-ifr { 
    --ion-color-base: var(--ion-color-ifr); 
    --ion-color-base-rgb: var(--ion-color-ifr-rgb); 
    --ion-color-contrast: var(--ion-color-ifr-contrast); 
    --ion-color-contrast-rgb: var(--ion-color-ifr-contrast-rgb); 
    --ion-color-shade: var(--ion-color-ifr-shade); 
    --ion-color-tint: var(--ion-color-ifr-tint); 
  }