  <ion-header>
      <ion-toolbar style="text-align: right;">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <div>
              <ion-title></ion-title>
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
      <style>
            .gris{
           
              background-color: #F2F2F2;
              font-size: 0.6em;
        
            }
            .blanco{
        
              font-size: 0.65em;
        
            }
          </style>
    </ion-header>
<ion-content>
  <ion-item>
    <ion-label>Fecha Inicial</ion-label>
    <!-- <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc" displayFormat="DD/MM/YYYY" [(ngModel)]="fechaInicial"></ion-datetime> -->
    <ion-datetime placeholder="dd/mm/yyyy" min="1000-01-01" max="2050-12-01" displayFormat="DD/MM/YYYY" [(ngModel)]="fechaInicial" cancelText="Cancelar" doneText="Ok"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Fecha Final</ion-label>
    <ion-datetime placeholder="dd/mm/yyyy" min="1000-01-01" max="2050-12-01" displayFormat="DD/MM/YYYY" [(ngModel)]="fechaFinal" cancelText="Cancelar" doneText="Ok"></ion-datetime>
  </ion-item>
   <ion-item>
    <ion-label>Tipo de Gráfica</ion-label>
    <ion-select [(ngModel)]="tipoGrafica">
      <ion-select-option value="line">Lineal</ion-select-option>
      <ion-select-option value="bar">Barra Verticales</ion-select-option>
      <ion-select-option value="horizontalBar">Barras Horizontales</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-item>
    <ion-label>Tipo de Gráfica</ion-label>
    <ion-select [(ngModel)]="tipoGrafica">
      <ion-select-option value="line">Lineal</ion-select-option>
      <ion-select-option value="bar">Barra verticales</ion-select-option>
      <ion-select-option value="horizontalBar">Barras Horizontales</ion-select-option>
      <ion-select-option value="radar">Radar</ion-select-option>
      <ion-select-option value="pie">Pastel</ion-select-option>
      <ion-select-option value="polarArea">Polar</ion-select-option>
      <ion-select-option value="bubble">burbuja</ion-select-option>
    </ion-select>
  </ion-item> -->

    <ion-button type="submit" expand="full" (click)="generate()">Generar Gráfica</ion-button>
  <div style="display: block">
    <canvas id="chartGraf" width="500" height="400"></canvas>
  </div>

  <ion-card>
    <ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-segment scrollable>
        <ion-list>
          <ion-item style="font-size: 0.8rem;">
            <ion-col col-12>
             <span style="font-weight: bold;">Trámite/Mes</span>
            </ion-col>
            <ion-col *ngFor="let head of listHead" col-12>
              {{head}}
            </ion-col>
        </ion-item>
        <ion-item >
          <ion-col *ngFor="let res of listBody; let i = index" col-12>
            <ion-row *ngFor="let r of res; let i = index; let impar = odd;let par = even;" [ngClass]="{gris:par,blanco:impar}">
             {{r}}
            </ion-row>
          </ion-col>
        </ion-item>
        </ion-list>
      </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
