<ion-header>
  <ion-toolbar color="purple" style="text-align: right;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <div>
          <ion-title></ion-title>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardStyle">
    <ion-list class="ion-padding ion-margin-top">
      <ion-item color="none" lines="none">
        <ion-input placeholder="Número de Trámite" [(ngModel)]="tramite"></ion-input>
      </ion-item>
      <ion-item-divider color="none" lines="none"></ion-item-divider>
      <ion-item color="none" lines="none">
        <ion-label>Oficina Registral</ion-label>
        <ion-select [(ngModel)]="oficina">
          <ion-select-option *ngFor="let oficina of oficinas" [value]="oficina">{{oficina.descripcion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item-divider color="none" lines="none"></ion-item-divider>
      <ion-item-divider color="none" lines="none" *ngIf="showProgress">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ion-item-divider>
      <ion-button color="purple" expand="block" (click)="buscarTramite()">
        <ion-icon slot="icon-only" name="search"></ion-icon> Buscar
      </ion-button>

    </ion-list>
  </ion-card>
</ion-content>
