

 ion-content {
    --background: none;
    background-image: url('/assets/fondo-app.png');
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
  }