<ion-header>
  <ion-header>
      <ion-toolbar style="text-align: right;">
          <ion-button color="ifr" slot="start" routerLink="/login"> <ion-icon name="arrow-undo-outline">gsjhdadsajd</ion-icon></ion-button>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <div>
              <ion-title></ion-title>
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              <ion-img src="assets/ifrem.png" style="margin-right: 5%; height: 35px;"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
      <style>
            .gris{
           
              background-color: #F2F2F2;
              font-size: 0.6em;
        
            }
            .blanco{
        
              font-size: 0.65em;
        
            }
          </style>
    </ion-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
  <ion-button color="ifr" shape="round" expand="full" (click)="abrirIfrem()">
    Acerca del IFREM
  </ion-button>
  <ion-button color="ifr"  shape="round" expand="full" (click)="abrirMision()">
    Misión y Visiòn
  </ion-button>
  <ion-button color="ifr" shape="round" expand="full" (click)="abrirCalidad()">
    Política de Calidad
  </ion-button>
  <ion-button color="ifr" shape="round" expand="full" (click)="abrirSeguridad()">
    Política de SI
  </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="ifr">
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button> <a href="https://www.facebook.com/IFREM.GEM"><ion-icon name="logo-facebook" color="ifr" ></ion-icon></a></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button> <a href="https://twitter.com/IFREM_GEM"><ion-icon name="logo-twitter" color="ifr"></ion-icon></a></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
